
<div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <a routerLink="/SalaryGenerators">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-list"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">ხელფასების სია</span>
            <!-- <span class="info-box-number">1,410</span> -->
          </div>
          <!-- /.info-box-content -->
        </div>
      </a>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
          <a routerLink="/SalaryGenerators/AddSalaryGenerator">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="fas fa-plus-square"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">ხელფასის დამატება</span>
            <!-- <span class="info-box-number">1,410</span> -->
          </div>
          <!-- /.info-box-content -->
        </div>
    </a>
        <!-- /.info-box -->
      </div>
</div>
<router-outlet></router-outlet>
