<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
   

<div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html">    <img src="../../../../assets/Images/logo.png" class="img-circle elevation-2" alt="User Image"></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">გააქტიურება</p>
  
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="Keygen" class="form-control"  placeholder="გასაღები">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block" (click)="Activate()">გააქტიურება</button>
            </div>
            <!-- /.col -->
          </div>

      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>