
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card card-success card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
              <li class="pt-2 px-3"><h3 class="card-title card-title-white">ლოგირების დამატება</h3></li>
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">მთავარი</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
              <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">თანამშრომელი</label>
                            <select  class="form-control" [(ngModel)]="EditModel.indRegID" *ngIf="EmployeeList">
                              <option *ngFor="let employee of EmployeeList" value="{{employee.userIDInDevice}}">{{employee.firsName}}&nbsp;{{employee.lastName}} </option>
                            </select>
                          </div>
                       </div>
                    <div class="col-md-6">
                     <div class="form-group">
                         <label for="exampleInputEmail1">ჩანაწერის დრო</label>
                         <input  type="datetime-local" class="form-control" [ngModel] ="EditModel.dateTimeRecord | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="EditModel.dateTimeRecord = $event" id="dateTimeRecord" #dateTimeRecord="ngModel" >
                       </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">მოწყობილობა</label>
                            <select  class="form-control" [(ngModel)]="EditModel.deviceID" *ngIf="DeviceList">
                                <option *ngFor="let device of DeviceList" value="{{device.iD}}">{{device.name}} </option>
                              </select>
                          </div>
                    </div>
                    
                </div>
               <div class="row">
                 <div class="col-md-12">
                   <button class="btn btn-success col-md-12" (click)="SubmitEdit()">რედაქტირება</button>
                 </div>
               </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

</div>