.card-title{
    font-family: MainWebFont;
}
.nav-link{
    font-family: MainWebFont;
}
.form-group{
    font-family: MainWebFont;
}
h3{
    font-family: MainWebFont;
    color:gray;
}
.card-title-white{
    color:white;
}
label{
    font-family: MainWebFont;
}
input{
    font-family: MainWebFont;
}
option{
    font-family: MainWebFont !important;
}
.form-control{
    font-family: MainWebFont;
}
.addHolidayTypeButton{
    margin-top: 50px;
    font-family: MainWebFont;
    font-weight: bold;
    word-spacing: 2px;
}
.custom-file-label::after{
    content: 'არჩევა' !important;
}
.successAddInfo{
    text-align: center;
    font-family: MainWebFont;
}
.btn-success{
    font-family: MainWebFont;
 }
/* upload */
label,input,select{
    font-family: MainWebFont;
}
.select2-container--below{
    width: 100% !important;
}
.uploadFileLabel{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border:3px dashed #dddddd;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    font-size: 1rem;
 
}
.uploadFileLabelLarge{
    width: 100%;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    border:3px dashed #dddddd;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    padding-top: 50px;
    font-size: 1rem;
    text-align: center;
 
}
.uploadFile{
display: none;
}
.uploadImageView{
    width: 150px;
    height: 150px;
    position: relative;
}
.img-wrap{
    position: relative;
}