
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card card-success card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
              <li class="pt-2 px-3"><h3 class="card-title card-title-white">მოწყობილობის დამატება</h3></li>
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">მთავარი</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
              <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">

                <div class="row">
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">დასახელება</label>
                        <input type="text" [(ngModel)]="AddDeviceRequestModel.name" id="deviceName" #deviceName="ngModel" class="form-control" required>
                        <div *ngIf="deviceName.invalid && (deviceName.dirty || deviceName.touched)" class="alert alert-danger">
                          <div *ngIf="deviceName.errors.required">
                              მოწყობილობის სახელის მითითება სავალდებულოა
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">IP მისამართი</label>
                        <input type="text" placeholder="xxx.xxx.xxx.xxx" [(ngModel)]="AddDeviceRequestModel.iPAddress" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" id="iPAddress" #iPAddress="ngModel" class="form-control" required>
                        <div *ngIf="iPAddress.invalid && (iPAddress.dirty || iPAddress.touched)" class="alert alert-danger">
                          <div *ngIf="iPAddress.errors.required">
                              IP მისამართის მითითება სავალდებულოა
                          </div>
                        </div>
                      </div>
                   </div>
                   <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">ბოლო სინქრონიზაციის თარიღი</label>
                        <input type="text" class="form-control">
                      </div>
                   </div> -->
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">მოწყობილობის ტიპი</label>
                        <select [(ngModel)]="AddDeviceRequestModel.deviceTypeID" class="form-control" *ngIf="DeviceTypes">
                          <option *ngFor="let deviceType of DeviceTypes" value="{{deviceType.iD}}">{{deviceType.description}}</option>
                        </select>
                      </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">ფილიალი</label>
                        <select [(ngModel)]="AddDeviceRequestModel.branchID" class="form-control" *ngIf="BranchList">
                          <option *ngFor="let branch of BranchList" value="{{branch.iD}}">{{branch.description}}</option>
                        </select>
                   
                      </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                    <label for="exampleInputEmail1">ლოკაცია ფილიალში</label>
                    <select [(ngModel)]="AddDeviceRequestModel.deviceLocationInBranchID" class="form-control" *ngIf="DeviceLocationInBranch">
                      <option *ngFor="let deviceLocationInBranchItem of DeviceLocationInBranch" value="{{deviceLocationInBranchItem.iD}}">{{deviceLocationInBranchItem.description}}</option>
                    </select>
                    </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group">
                    <label for="exampleInputEmail1">მომხმარებელი</label>
                    <input type="text" [(ngModel)]="AddDeviceRequestModel.userName" id="userName" #userName="ngModel" class="form-control" required>
                    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                      <div *ngIf="userName.errors.required">
                          მომხმარებელის სახელის შევსება სავალდებულოა
                      </div>
                    </div>
                  </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">პაროლი</label>
                        <input type="password" [(ngModel)]="AddDeviceRequestModel.password" id="password" #password="ngModel" class="form-control" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                          <div *ngIf="password.errors.required">
                              პაროლის მითითება სავალდებულოა
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">პორტი</label>
                        <input type="number" [(ngModel)]="AddDeviceRequestModel.port" id="port" #port="ngModel" class="form-control" required>
                        <div *ngIf="port.invalid && (port.dirty || port.touched)" class="alert alert-danger">
                          <div *ngIf="port.errors.required">
                              პორტის მითითება სავალდებულოა
                          </div>
                        </div>
                      </div>
                   </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                   <button class="btn btn-success col-md-12" (click)="AddDevice()">დამატება</button>
                 </div>
               </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

</div>